html {
  /*background: url('/images/dots_02.jpg') 20%;*/
  background-color: teal;
}

.header_links {
  display: inline;
  text-decoration: none;
  background: black;
}

.hippo {
  height: 100px;
  position: relative;
  float: left;
  padding-right:20px;
}

li {
  display: inline;
  text-decoration: none;

}

@font-face {
font-family: Cubano;
src: url('/webfonts/cubano-regular-webfont.ttf'),
     url('/webfonts/cubano-regular-webfont.eot'); /* IE9 */
}

.container {
  font-family: Cubano;
  border-radius: 10%;
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

