html {
  /*background: url('/images/dots_02.jpg') 20%;*/
  background-color: teal;
  font-family: Cubano;
}

.header_links {
  display: inline;
  text-decoration: none;
  background: black;
}

.header_links a {
  text-decoration: none;
}

.hippo {
  height: 100px;
  position: relative;
  float: left;
  padding-right:20px;
}

.hippo_success img {
  display: block;
  margin: auto;
  width: 400px;
/*  image: center;*/
}

.hippo_failure img {
  vertical-align: middle;
  display: block
  margin 0 auto;
  width: 400px;
}

nav li {
  display: inline;
  text-decoration: none;

}

@font-face {
font-family: Cubano;
src: url('/webfonts/cubano-regular-webfont.ttf'),
     url('/webfonts/cubano-regular-webfont.eot'); /* IE9 */
}

.container {
  font-family: Cubano;
  border-radius: 10%;
  margin: 20px auto;
  width: 750px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.container h2 {
  text-align: center;
}

h2 a {
  font-size: 12px;
  border-style: solid;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-color: white;
  color: black;
  border-radius: 40%;


}
th {
  text-align: left;
}

/* Create Survey */
.form-element {
  margin: 5px;
}

.form-element.header {
  margin: 5px 5px 15px 5px;
}

.question {
  margin: 10px 0 15px 0;
}

.submit-survey {
  margin: 10px 0 10px 0;
}

a:hover {
  color: white;
}

.dancing_hippos img{
  height: 100px;
  display: inline;
}

.index_hippo img {
  height: 40px;
}
