html {
  /*background: url('/images/dots_02.jpg') 20%;*/

}

@font-face {
font-family: Cubano;
src: url('/webfonts/cubano-regular-webfont.ttf'),
     url('/webfonts/cubano-regular-webfont.eot'); /* IE9 */
}

.container {
  font-family: Cubano;
  
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

/* Create Survey */
.form-element {
  margin: 5px;
}

.form-element.header {
  margin: 5px 5px 15px 5px;
}

.question {
  margin: 10px 0 15px 0;
}

.submit-survey {
  margin: 10px 0 10px 0;
}
