/*html {
  background: url('/images/dots_02.jpg') 20%;
  color: white;
}
*/
@font-face {
font-family: Cubano;
src: url('/webfonts/cubano-regular-webfont.ttf'),
     url('/webfonts/cubano-regular-webfont.eot'); /* IE9 */
}

.container {
  font-family: Cubano;
  
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

