<div> 
  <h1>Your survey was submitted!</h1>

    <div class="hippo_success">
      <img src="/images/Cartoon_hippo.svg"></img>
    </div>

  <h2>New to Survey Hippo?  Sign up for an account <a href="/"> here!</a></h2> 
</div>
