<h1>Create a New Survey</h1>

  <form id="question" action="/survey/create" method='POST'>
    <label for="question">Question</label>
    <input type="text" name="question[]"><br>
    <div class="empty_div"></div>
    <input type="submit" value="Submit" >
  </form>
<form id="add_question" action="">
  <input type="submit" value="Add Question">
</form>
