<h1>Create a New Survey</h1>

  <form id="question" action="/survey/create" method='POST'>
    
    <div class="form-element header">
      <label for="survey_title">Survey Title</label>
      <input type="text" name="survey_title">
    </div>
    
    <div id="question-sandbox">
    </div>

    <div>
      <input id="btn_short_question" type="button" value="Add Short Question">
      <span> or </span>
      <input id="btn_mult_question" type="button" value="Add Multichoice Question">
    </div>
  
    <input type="submit" class="submit-survey" value="Submit" >
  
  </form>

  <div style="display: none;">
    <div class="question-short-template question" >
      <label for="question">Question</label> 
      <input type="text" name="question[]">
  </div>


  <div class="question-multiple-template question">
    <div>
      <label for="question">M.C. Question Title</label> 
      <input type="text" name="mc_question[]">
    </div>
    <div class ="multiple-choice-answer-sandbox">
      <div class="multiple-choice-question-template">  
        <label for="question">M.C. Question Answer</label> 
        <input type="text" name="mc_question[]answer[]">
      </div>
    </div>
      <input class="addchoice" type="button" value="Add Choice"/>
  </div>

<!--   user should be able to add radio buttons with corresponding possible responses..
  and submit all radio buttons as one new question -->
</div>


    <!-- <div class="form-element">
      <label for="question">Question Type</label>
      <input type="text" name="question[]">
    </div> -->
