<h1>Create a New Survey</h1>

  <form id="question" action="/survey/create" method='POST'>
    <label for="survey_title">Survey Title</label>
    <input type="text" name="survey_title"><br>
    <label for="question">Question</label>
    <input type="text" name="question[]"><br>
    <input type="submit" value="Submit" >
  </form><br>
<form id="add_question" action="">
  <input type="submit" value="Add Question">
</form>
