<div class="dancing_hippos">
<center>
  <body>
    <div class="hippo1"><img src="/images/Cartoon_hippo.svg"></img></div>
    <div class="hippo2"><img src="/images/Cartoon_hippo.svg"></img></div>
    <div class="hippo3"><img src="/images/Cartoon_hippo.svg"></img></div>
    <div class="hippo4"><img src="/images/Cartoon_hippo.svg"></img></div>
    <div class="hippo5"><img src="/images/Cartoon_hippo.svg"></img></div>
    <div class="hippo6"><img src="/images/Cartoon_hippo.svg"></img></div>
    <div class="hippo7"><img src="/images/Cartoon_hippo.svg"></img></div>
    <div class="hippo8"><img src="/images/Cartoon_hippo.svg"></img></div>
</body>
<center>
</div>
