<h1>Results for "<%= @survey.title %>"</h1>

<table border="1">
  <tr>
    <th>Submission ID</th>
    <% @questions.each do |question| %>
      <th>"<%= question.title %>"</th>
    <% end %>
  </tr>
    <% @survey_submissions.each do |survey_submission| %>
      <tr>
        <td><%= survey_submission.id %></td>
        <% survey_submission.question_responses.each do |question_response| %>
        <td><%= question_response.answer %></td>            
        <% end %>
      </tr>
    <% end %>
</table>
