<div class="not_found_header"> 
  <h1>Womp womp, your survey doesn't exist, my friend!</h1>

    <div class="hippo_failure">
      <center><img src="/images/sad_panda.png"></img></center>
    </div>
</div>

<% if !current_user %>
  <h2>Not registered?  Sign up for a XXXXXX account <a href="/signup"> here!</a></h2> 
  <% end  %>
</div>
